# Ignore node_modules directory
node_modules/

# Ignore log files
logs/

# Ignore environment-specific config files
.env

# Ignore built output
build/
dist/

# Ignore package lock file
package-lock.json

# Ignore editor-specific files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store
